<!--<a href="https://github.com/MJ-Curtido" [appDirectiva]="miObjeto">mi github :)</a>-->

<br><br>

<select name="colores">
    <option value="hotpink">HotPink</option>
    <option value="blueviolet">BlueViolet</option>
    <option value="tomato">Tomato</option>
    <option value="lightseagreen">LightSeaGreen</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input type="text" name="texto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button (click)="cambiarEstilo()">Cambiar</button>