<a href="https://github.com/MJ-Curtido" [appDirectiva]="miObjeto">Mi GitHub :)</a>

<br><br>

<select #selectColores name="selectColores">
    <option value="color1">HotPink</option>
    <option value="color2">BlueViolet</option>
    <option value="color3">Tomato</option>
    <option value="color4">LightSeaGreen</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input #inputTexto type="text" name="inputTexto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button (click)="cambiarEstilo()">Cambiar</button>